                          ::before,
                      ::after {
                         box-sizing: border-box;
                         font-family: 'Inconsolata', monospace;
                     }
                     
                     #question-container {
                         display: none;
                     }
                     
                     #timer {
                         width: 11vw;
                         font-weight: bolder;
                     }
                     
                     body {
                         display: flex;
                         flex-direction: column;
                         justify-content: space-evenly;
                     }
                     
                     main {
                         margin: auto;
                         width: 600px;
                     }
                     
                     .button {
                         border-radius: 5px;
                         background-color: #8e2bb3;
                         color: white;
                         text-align: center;
                     }
                     
                     button:hover {
                         opacity: 60%;
                     }
                     
                     button:active {
                         transform: translateY(4px);
                     }
                     
                     .btn-danger {
                         color: #fff;
                         background-color: #8e2bb3;
                         border-color: #8e2bb3;
                     }
                     
                     .btn-danger:hover {
                         color: #fff;
                         background-color: #8e2bb3;
                         border-color: #8e2bb3;
                         @media screen and (max-width: 600px) {
                             header {
                                 display: flex;
                                 flex-direction: column;
                             }
                             .high-scores {
                                 justify-content: center;
                                 max-width: 25%;
                             }
                             #timer {
                                 flex-direction: column;
                             }
                         }