                /* ::before,
                ::after {
                   box-sizing: border-box;
                   font-family: 'Inconsolata', monospace;
               }
                */
                
                html {
                    padding: 2rem;
                }
                
                #question-container {
                    display: none;
                }
                
                .countdown {
                    width: 11vw;
                    font-weight: bolder;
                }
                
                body {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                }
                
                main {
                    margin: auto;
                    width: 600px;
                }
                
                .button {
                    border-radius: 5px;
                    background-color: #8e2bb3;
                    color: white;
                    text-align: center;
                }
                
                button:hover {
                    opacity: 60%;
                }
                
                button:active {
                    transform: translateY(4px);
                }
                
                .btn-danger {
                    color: #fff;
                    background-color: #8e2bb3;
                    border-color: #8e2bb3;
                    margin: 1rem;
                }
                
                .btn-danger:hover {
                    color: #fff;
                    background-color: #8e2bb3;
                    border-color: #8e2bb3;
                }
                
                button.choice {
                    border-radius: 5px;
                    background-color: #8e2bb3;
                    color: white;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 1rem;
                    ;
                }
                
                a.high-scores {
                    color: #8e2bb3;
                    font-weight: bold;
                    text-decoration: none;
                }
                
                button.back-button.btn.btn-danger {
                    color: #fff;
                    background-color: #8e2bb3;
                    border-color: #8e2bb3;
                }
                
                button.btn.btn-danger {
                    color: #fff;
                    background-color: #8e2bb3;
                    border-color: #8e2bb3;
                }
                
                div #question-title {
                    font-size: 2rem;
                    font-weight: bold;
                }
                
                div#feedback {
                    font-size: 2rem;
                    font-weight: bold;
                }
                /*****Hidden*****/
                
                .hidden {
                    display: none;
                }
                /*form*/
                
                #submit-score {
                    margin-bottom: 10px;
                }
                
                #submit-score label {
                    display: block;
                }
                
                #initials {
                    padding: 3px;
                    font-size: 1em;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                
                @media screen and (max-width: 600px) {
                    header {
                        display: flex;
                        flex-direction: column;
                    }
                    .high-scores {
                        justify-content: center;
                        max-width: 25%;
                    }
                    #timer {
                        flex-direction: column;
                    }
                }